<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834765041596-t3kuel33e3ij7p9bv44q1mv9iq0ur5n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834765041596-t3kuel33e3ij7p9bv44q1mv9iq0ur5n8</string>
	<key>API_KEY</key>
	<string>AIzaSyBST0atxegYA3A8TJfv5DFRUDxEjI40EIY</string>
	<key>GCM_SENDER_ID</key>
	<string>834765041596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hariPanicker.FSNotes</string>
	<key>PROJECT_ID</key>
	<string>fsnotes-c173a</string>
	<key>STORAGE_BUCKET</key>
	<string>fsnotes-c173a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834765041596:ios:00d1e60f27c6d6ceee85b9</string>
</dict>
</plist>